/* GENERAL */
body {
    color: #30436d;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 20px;
}

a {
    color: dodgerblue;
}

a:hover {
    color: #006aff ;
    text-decoration: none;
}

/* UTILITIES */
.fixed {
    position: fixed;
}

.pos-rel {
    position:relative;
}

.b {
    font-weight: bold;
}

.circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid #4891fe;
    border-radius: 50%;

}

.circle.active {
    background-color: #4891fe;
}

.arrow {
    display: inline-block;
    font-size: 30px;
    margin: 0 10px
}

/* Buttons */
.button {
    padding: 10px 15px;
    color: #4891fe;
    border: 1px solid currentColor;
    border-radius: 5px;
    transition: color 0.2s, background-color 0.2s;
}

.button.blue {
    background-color: #4891fe;
}

.button.blue:hover {
    background-color: #30436d;
}

.button.white {
    border: 1px solid transparent;
    color: #747474;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.button.white:hover {
    color: black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

/* Colors */
.color-lightblue {
    color: #4891fe;
}

.color-blue {
    color: #006aff;
}

.color-darkblue {
    color: #30436d;
}

.color-white {
    color: #fff;
}

.color-lightgrey {
    color: #747474;
}

.color-transparent {
    opacity: 0.8;
}
/* Background Colors */
.bg-white {
    background-color: #fff;
}

.bg-grey {
    background-color: #f2f5f9;
}

.bg-linear {
    background-image: linear-gradient(45deg, #001e9a, #0248c5);
}

/* Dropdown button */
.dropbtn {
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    color: #30436d;
    background-color: #fff ;
}
  
.dropdown-content a:hover {
    background-color: #006aff;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* SECTIONS */
/* Header */
.main-navigation {
    width: 100%;
    height: 65px;
    line-height: 65px;
}

.main-navigation a {
    color: #30436d;
}

.main-navigation img {
    height: 30px;
    vertical-align: middle;
}

.main-navigation .menu i {
    font-size: 22px;
    color: #4891fe;
}

.main-navigation a {
    font-size: 16px;
    color: #2D416F;
    transition: color 0.2s;
}

.main-navigation a.button {
    color: #4891fe;
}

.main-navigation a.button:hover {
    color: white;
    background-color: #4891fe;
}

/* Hero */
.hero {
    padding-top: 85px;
    padding-bottom: 65px;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: bottom;
}

.hero .form {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 35px;
    border-radius: 5px;
}

.hero h2 {
    margin-top: 0;
}

.hero input {
    height: 45px;
}

.hero input,
.hero .button:not(:last-child) {
    margin-bottom: 10px;
}

.hero .button img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    height: 20px;
}

.hero .terms {
    font-size: 12px;
}

.hero .terms a {
    text-decoration: underline;
}

/* Customers */
.customers {
    padding-top: 50px;
    padding-bottom: 35px;
}

.customers .logos {
    width: 100%;
}

.customers .logos img {
    margin: 10px 20px;
    width: calc((100% / 2) - 50px);
}

/* Configuration */
.configuration aside ul {
    list-style: none;
    margin-bottom: 30px;
    padding: 10px 5px;
    border-left: 1px solid currentColor;
}

.configuration aside ul li:not(:last-child) {
    margin-bottom: 20px;
}

.configuration aside ul a {
    font-size: 20px;
    color: #747474;
}

.configuration .box p {
    font-size: 15px;
}

/* Slides */
.slides {
    padding-top: 80px;
    padding-bottom: 70px;
}

.slides .slide {
    margin-top: 160px;
    margin-bottom: 100px;
    padding: 0 50px;
}

.slides .slide img {
    max-width: 60%;
    margin-bottom: 30px;
}

/* Features */
.features {
    padding-top: 80px;
    padding-bottom: 90px;
}

.features .content {
    margin-top: 40px;
}

.features .content img {
    margin-bottom: 20px;
}

.features .content p {
    font-size: 14px;
}

.features .content a {
    font-size: 16px;
}

/* Tables */
.tables {
    padding-top: 90px;
    padding-bottom: 40px;
}

.tables table {
    width: 100%;
    margin-bottom: 50px;
}

.tables table tr {
    border-bottom: 1px solid currentColor;
}

.tables table td {
    padding: 10px;
    font-size: 12px;
}

/*******************************************
RESPONSIVE
*******************************************/

/* Tablet (from 768px to 991px) */
@media screen and (min-width: 768px) {
    /* SECTIONS */
    /* Customers */
    .customers .logos img {
        margin: 10px 20px;
        width: calc((100% / 6) - 50px);
    }

    /* Configuration */
    .configuration .contents {
        padding-top: 70px;
    }
    .configuration .box {
        margin-bottom: 20px;
        height: 180px;
    }

    /* Slides */
    .slides .slide {
        margin-bottom: 90px;
    }
}

/* Desktop (from 992px) */
@media screen and (min-width: 992px) {
    /* GENERAL */
    h1 {
        font-size: 65px;
    }

    /* SECTIONS */
    /* Slides */
    .slides .slide {
        margin-top: 80px;
        margin-bottom: 10px;
    }
}