/* GENERAL */
h1 {
    font-size: 40px;
}

p {
    font-size: 22px;
}

/* UTILITIES */
.fixed {
    position: fixed;
}

.pos-rel {
    position:relative;
}

/* Buttons */
.button {
    padding: 10px 15px;
    color: #4891fe;
    border: 1px solid currentColor;
    border-radius: 5px;
    transition: color 0.2s, background-color 0.2s;
}

.button.blue {
    background-color: #4891fe;
}

.button.blue:hover {
    background-color: #30436d;
}

.button.white {
    border: 1px solid transparent;
    color: #747474;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.button.white:hover {
    color: black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

/* Colors */
.color-lightblue {
    color: #4891fe;
}

.color-blue {
    color: #006aff;
}

.color-darkblue {
    color: #30436d;
}

.color-white {
    color: #fff;
}

.color-lightgrey {
    color: #acc2ff;
}
/* Background Colors */
.bg-white {
    background-color: #fff;
}

/* Dropdown button */
.dropbtn {
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    color: #30436d;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* SECTIONS */
/* Header */
.main-navigation {
    width: 100%;
    height: 65px;
    line-height: 65px;
}

.main-navigation a {
    color: #30436d;
}

.main-navigation img {
    height: 30px;
    vertical-align: middle;
}

.main-navigation .menu i {
    font-size: 22px;
    color: #4891fe;
}

.main-navigation a {
    font-size: 16px;
    color: #2D416F;
    transition: color 0.2s;
}

.main-navigation a:hover {
    color: #4891fe;
    text-decoration: none;
}

.main-navigation a.button {
    color: #4891fe;
}

.main-navigation a.button:hover {
    color: white;
    background-color: #4891fe;
}

/* Hero */
.hero {
    padding-top: 85px;
    padding-bottom: 65px;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: bottom;
}

.hero .form {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 35px;
    border-radius: 5px;
}

.hero h2 {
    margin-top: 0;
}

.hero input {
    height: 45px;
}

.hero input,
.hero .button:not(:last-child) {
    margin-bottom: 10px;
}

.hero .button img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    height: 20px;
}

.hero .terms a {
    text-decoration: underline;
    color: dodgerblue;
}

.hero .terms a:hover {
    color: #006aff;
}

/*******************************************
RESPONSIVE
*******************************************/
/* Tablet (from 768px to 991px) */

/* Desktop (from 992px) */

@media screen and (min-width: 992px) {
    /* GENERAL */
    h1 {
        font-size: 65px;
    }
}