/* GENERAL */
h1 {
    font-size: 40px;
}

p {
    font-size: 22px;
}

a {
    color: dodgerblue;
}

a:hover {
    color: #006aff ;
    text-decoration: none;
}

/* UTILITIES */
.fixed {
    position: fixed;
}

.pos-rel {
    position:relative;
}

.b {
    font-weight: bold;
}

/* Buttons */
.button {
    padding: 10px 15px;
    color: #4891fe;
    border: 1px solid currentColor;
    border-radius: 5px;
    transition: color 0.2s, background-color 0.2s;
}

.button.blue {
    background-color: #4891fe;
}

.button.blue:hover {
    background-color: #30436d;
}

.button.white {
    border: 1px solid transparent;
    color: #747474;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.button.white:hover {
    color: black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

/* Colors */
.color-lightblue {
    color: #4891fe;
}

.color-blue {
    color: #006aff;
}

.color-darkblue {
    color: #30436d;
}

.color-white {
    color: #fff;
}

.color-lightgrey {
    color: #747474;
}

.color-transparent {
    opacity: 0.5;
}
/* Background Colors */
.bg-white {
    background-color: #fff;
}

/* Dropdown button */
.dropbtn {
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    color: #30436d;
    background-color: #fff ;
}
  
.dropdown-content a:hover {
    background-color: #006aff;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* SECTIONS */
/* Header */
.main-navigation {
    width: 100%;
    height: 65px;
    line-height: 65px;
}

.main-navigation a {
    color: #30436d;
}

.main-navigation img {
    height: 30px;
    vertical-align: middle;
}

.main-navigation .menu i {
    font-size: 22px;
    color: #4891fe;
}

.main-navigation a {
    font-size: 16px;
    color: #2D416F;
    transition: color 0.2s;
}

.main-navigation a.button {
    color: #4891fe;
}

.main-navigation a.button:hover {
    color: white;
    background-color: #4891fe;
}

/* Hero */
.hero {
    padding-top: 85px;
    padding-bottom: 65px;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: bottom;
}

.hero .form {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 35px;
    border-radius: 5px;
}

.hero h2 {
    margin-top: 0;
}

.hero input {
    height: 45px;
}

.hero input,
.hero .button:not(:last-child) {
    margin-bottom: 10px;
}

.hero .button img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    height: 20px;
}

.hero .terms {
    font-size: 12px;
}

.hero .terms a {
    text-decoration: underline;
}

/* Customers */
.customers {
    padding-top: 50px;
    padding-bottom: 35px;
    background-color: #f2f5f9;
}

.customers .logos {
    width: 100%;
}

.customers .logos img {
    margin: 10px 20px;
    width: calc((100% / 2) - 50px);
}
/*******************************************
RESPONSIVE
*******************************************/
/* Tablet (from 768px to 991px) */
@media screen and (min-width: 768px) {
    /* SECTIONS */
    /* Customers */
    .customers .logos img {
        margin: 10px 20px;
        width: calc((100% / 6) - 50px);
    }
}
/* Desktop (from 992px) */

@media screen and (min-width: 992px) {
    /* GENERAL */
    h1 {
        font-size: 65px;
    }
}